/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { 
	cursor: pointer; 
	-webkit-appearance: button;
	padding: 0;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary Styles
   Author: Owen Corso
   Favorite Color: Red
   ========================================================================== */
/* =============================================================================
   @Fonts
   ========================================================================== */
 @font-face {
    font-family: 'VIPRegular';
    src: url('../fonts/vip-webfont.eot');
    src: url('../fonts/vip-webfont.eot?#iefix') format('eot'),
         url('../fonts/vip-webfont.woff') format('woff'),
         url('../fonts/vip-webfont.ttf') format('truetype'),
         url('../fonts/vip-webfont.svg#webfontx4wjSH6z') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2,h3,h4,h5,p, a, form{ 
	font-family: 'VIPRegular';
	text-transform: lowercase;
}
/* =============================================================================
   @Global
   ========================================================================== */
.left{float:left;}
.right{float:right;}
.active{ color: red;}

.shadow {
  -moz-box-shadow: 5px 5px 5px #000;
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
}
.red-grad{
	background-image: -moz-linear-gradient(center bottom , #7C150A 25%, #B71301 75%);
}

html{
	height: 100%;
}

body{
	background-color: #000;
	padding-top:34px;
	height: 100%;
	color:#aaa;
}
h1{
	font-weight: lighter;

	margin-bottom: 0;
	font-size: 70px;
	line-height: 51px;
	
}
#container{
	width: 1024px;
	min-height: 100%;
	margin: 0 auto;
}
#main{
	padding-bottom: 88px;
}

a, a:visited{ color: #676767;}
a:hover, a:active, a:focus, .current-section {
   outline: 0;
	color: #f00;
}

section, #s_loader{
	width: 1024px;
	height: 619px;
}
.sidebar img{
	margin-top: 20px;
}
/* =============================================================================
   @Header
   ========================================================================== */
header{
	position: relative;
	z-index: 1;
	margin-bottom: 35px;
}
#logo{
	width: 230px;	
	height: 70px;
	float: left;
}
#logo_on, #logo_off{
	position: absolute;
}
nav{
	background: url('../img/nav/nav.png') no-repeat;
	height: 25px;
	float: right;
	margin-top: 45px;
	z-index: 1;
}
nav img, nav ul {float:left;}
nav ul{
	background-color:#333;
	height: 25px;
}
nav ul li{
	width: 50px;
	display: inline;
	font-size: 32px;
	line-height: 16px;
}
nav ul li a, nav ul li a:visited{
	text-decoration: none;
	display: inline-block;
	width: 150px;
	margin-left: 40px;
	margin-bottom: 4px;
}

#overlay{
	position: absolute;
	background-color: #0ff;
}
/* =============================================================================
   @Loader
   ========================================================================== */

#s_loader img{
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 300px;
	overflow:hidden;
}
/* =============================================================================
   @Sections
   ========================================================================== */
section{ 
	display: none;
	position: relative;
	
}
.sidebar{
	float:left;
	width: 243px;

}
.sidebar h1{
	margin-top: -25px;
	margin-bottom: 20px;
}
.section-content{
	postion: relative;
	float:left;
	width: 781px;
	
}
#s_learn p{
	width: 500px;
	float: left;
	font-size: 20px;
}
#s_shipping h2{
	font-size: 30px;
	
}
#s_shipping p{
	
	font-size: 20px;
}
/* =============================================================================
   @Shop
   ========================================================================== */
#s_shop .section-content{
	overflow: hidden;
	position: relative;
	height: 786px;
}
#s_shop .section-content-wrapper{
	width: 1567px;
	position: absolute;
}
#s_shop .right-img{
	position: absolute;
	left: 540px;
	top: 0;
}
#shop_sidenav{
	background-color: #ccc;
	text-align: right;
	padding-right: 13px;
	padding-bottom: 13px;
	border-right: solid 1px black;
}
#shop_sidenav li{
	
	list-style-type: none;
}
#shop_sidenav ul, #shop_sidenav h2{
	padding-left: 0;
	margin: 0;
}
#shop_sidenav h2 a, #shop_sidenav h2 a:visited {
	color: #999;
	font-size: 34px;
	text-decoration: none;
	font-weight: lighter;
}
#shop_sidenav li a, #shop_sidenav li a:visited {
	color: #333;
	font-size: 24px;
	text-decoration: none;
}
#shop_sidenav li a:active{ color: red;}
#shop_sidenav li a:hover{
	color: red;
}
.sidebar h3{
	font-size: 34px;
	color: #999;
	text-align: right;
	margin: 0;
	margin-right: 10px;
	line-height: 26px;
	font-weight: lighter;
	
}
.subnav-grad{
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzliOWI5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 73%, rgba(155,155,155,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(73%,rgba(204,204,204,1)), color-stop(99%,rgba(155,155,155,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 73%,rgba(155,155,155,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 73%,rgba(155,155,155,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 73%,rgba(155,155,155,1) 99%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 73%,rgba(155,155,155,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-8 */
}
.shop-subnav{
	height: 46px;
	margin: 0;
	list-style: none;
}
.shop-subnav li{
	display: inline-block;
	margin-top: 5px;
}
.shop-subnav a{
	font-size: 20px;
	text-decoration: none;
}
#shop_grid{
	background-color: #ccc;
	float: left;
	width: 540px;
	
}
.product{
	display: inline-block;
	text-align: center;
	height: 200px;
	margin: 20px;
}
.product a{
	display: block;
	color: #333;
	text-decoration: none;
	font-size: 26px;
	line-height: 19px;
}

/* =============================================================================
   @ProductDetail
   ========================================================================== */
#product_detail{
	background-color: #ccc;
	height: 560px;
	width: 781px;
	float: right;
	    
}
.product-content{
	padding: 25px;
}
.product-content h1{
	color: #333;
	font-weight: normal;
	font-size: 50px;
	margin-top: -20px;
	margin-bottom: 10px;
	
}
/* =============================================================================
   @ShoppingCart
   ========================================================================== */
#cart_pulldown{
	z-index: 0;
	position: absolute;
	overflow: hidden;
	background-color: #000;
	top: 70px;
	right: 2px; 
	width: 155px;
	height: 23px;
	padding: 5px;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #999;
}
#cart_pulldown #open_close{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: block;

	padding-left: 8px;
	padding-bottom: 8px;
	border-bottom: solid 1px #666;
}
#cart_pulldown #open_close:hover{
	color: #f00;
}
#cart_pulldown span.cart-arrow{
	background: url('../img/icons/sprite-sheet.png') no-repeat;
	width: 8px;
	height: 8px;
	float: right;
	margin-top: 9px;
	margin-right: 13px;
}
#cart_pulldown h2{
	font-weight: normal;
	font-size: 33px;
	margin-top: 10px;
	margin-left: 20px;
}
.cart-contents ul{
	list-style-image:url('../img/icons/list-style-img.png');
	padding-left: 19px;
}
.cart-contents ul li{
	font-size: 20px;	
	margin-bottom: 10px;
}
.cart-contents p{
	margin: 1px;
}
.subtotal{
	color: #00fcff;	
	font-family: 'VIPRegular';
	text-transform: lowercase;	
	font-size: 20px;
}
.remove-item{
	font-size: 18px;
	color: red;
	cursor: pointer;
	margin-left: 5px;
}
.remove-item:hover{
	color: #d60000;	
}
#cart_pulldown .checkout-btn{
	color: #00ff00;
	position: absolute;
	bottom: 8px;	
	cursor: pointer;
	font-size: 30px;
	font-family: 'VIPRegular';
	text-transform: lowercase;
	border-top: solid 1px #666;
	width: 226px;
	text-align: center;
	display: none;
	text-decoration: none;
}
#cart_pulldown .checkout-btn:hover{
	color: #0b850e;	
	background-position: -34px -15px;
}
#cart_pulldown .checkout-btn:after{
	content: "";
	background-image: url('../img/icons/sprite-sheet.png');
	background-position: -34px 0;
	width: 14px;
	height: 12px;
	float: right;
	margin-top: 18px;
	margin-right: 27px;
}
#cart_pulldown .checkout-btn:hover:after{
	background-position: -34px -13px;	
}
/* =============================================================================
   @Campaign
   ========================================================================== */
#s_campaign{
	height: 683px;
	position: relative;
}
#lookbook_wrapper{
	display: block;
	height: 683px;
	width: 1024px;
	position: relative;
	overflow: hidden;
}
#lookbook_container{
	position: absolute;
	left: 0px;
}
#s_campaign img{
	float:left;
}
.arrow{
	position: absolute;	
	top: 280px;
	width: 96px;
	height: 96px;
	cursor: pointer;
}
#prev_arrow{
	background: url('../img/icons/prev.png');
}
#next_arrow{
	background: url('../img/icons/next.png');
	left: 928px;
}
/* =============================================================================
   @Contact
   ========================================================================== */
#s_contact h2{
	color: #999999 ;
	font-size: 62px;
	font-weight: normal;
	text-align: center;
	margin: 0;
}
#s_contact h4{
	color: #fff ;
	font-size: 34px;
	font-weight: normal;
	text-align: center;
	margin: 0;
}
#s_contact form{
	margin-top: 50px;
	margin-left: 100px;
}

/* =============================================================================
   @Forms
   ========================================================================== */
form{
	color: #aaa;
}

input{
	border-color: #333;
	border-style: solid;
	border-width: 1px;
	background-color: #000;
	color: #aaa;
	margin: 3px;
	height: 26px;
}
textarea{
	background: none repeat scroll 0 0 black;
	border: 1px solid #333;
	overflow: auto;
	vertical-align: top;
	height: 128px;
	margin-top: 10px;
	color: #aaa;
	padding: 4px;
}
input, textarea{
	width: 250px;
	padding-left: 4px;
}
.form-label{
	float:left;
	width: 180px;
	color: #666666;
	font-size: 34px;
	line-height: 30px;
	text-align: right;
	margin-right: 30px;
}
dd{
	margin-left: 150px;
	line-height: 45px;
}
#submit-element{
	margin-left: 207px;
}
#s_contact form button, input[type="button"], input[type="reset"], input[type="submit"] {
	width: 257px;
}
/* =============================================================================
   @Checkout Form
   ========================================================================== */
fieldset{ float: left;}

/* =============================================================================
   @AddToCart Form
   ========================================================================== */
#add_to_cart_form, #add_to_cart_form_extended{
	width: 464px;
	position: relative;
}
#add_to_cart_form input{
	background-color: #fff;
	width: 50px;
	height: 20px;
}
#add_to_cart_form select{
	height: 25px;
	margin-top: 4px;
	padding-top: 3px;	
}
#add_to_cart_form dt, #add_to_cart_form dd{
	height: 29px;	
}	 
#add_to_cart_form dt{ 
	float: left;
	width: 100px;
}

#add_to_cart_form label, .product-content label{
	font-family: 'VIPRegular';
	text-transform: lowercase;
	color: #444;
	font-size: 30px;
	line-height: 20px;
	float: left;
	width: 106px;
	text-align: right;
}
#add_to_cart_form dd{
	line-height: 0;
	margin-left: 118px;
}
#add_to_cart_btn-label{display: none;}
#add_to_cart_btn-element{float: right;}
#add_to_cart_form input#add_to_cart_btn{
	background-color: #ccc;	
	top: 0;
	color: #000;
	padding-bottom: 8px;
	height: 45px;
	width: 148px;
	
}
.product-content .btn{
	position: absolute;
	right: 0;
	font-size: 27px;
	background-color: #ccc;	
	cursor: pointer;
	font-family: 'VIPRegular';
	text-transform: lowercase;
	border: 1px solid #747474;		
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.product-content .checkout-btn{
	top: 5px;
	color: green;
	width: 131px;
	height: 40px;
	right: 2px;
	
}
.product-content .checkout-btn:after{
	content: "";
	background-image: url('../img/icons/sprite-sheet.png');
	background-position: -34px -12px;
	width: 14px;
	height: 12px;
	float: right;
	margin-top: 16px;
	margin-right: 15px;
}
#add_to_cart_form_extended { margin-top: -15px;}
#add_to_cart_form_extended p{
	margin-top: -22px;
	margin-left: 117px;
	color: red;
	font-size: 30px;
}
/* =============================================================================
   @Home
   ========================================================================== */
h4{
	color: #fff ;
	font-size: 46px;
	font-weight: normal;
	text-align: center;
	margin: 0;
}
/* =============================================================================
   @Footer
   ========================================================================== */
ie6#container, ie8#container{
	display:table;
	height:100%;
}
footer{
	positioning: relative;
	margin-top: -88px; /* negative value of footer height */
	margin-bottom: 20px;
	height: 68px;
	clear:both;	
}
.social-media, .social-media:visited{
	positioning: absolute;
	bottom: 20px;
	width: 232px;
	height: 23px;
	background-color: #333;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	color: #d7d7d7;
	text-decoration: none;
	font-size: 18px;
	padding: 5px;
}

.social-media img{
	float: left;
	margin-left: 5px;
	margin-right: 20px;
}
footer, footer a, footer a:visited{
	color: #fff;
}
footer aside{
	float: right;
}
footer aside ul li{
	display: inline;
}
footer aside ul li a, footer aside ul li a:visited{
	text-decoration: none;
	display: inline-block;
	margin-bottom: 4px;
	font-size: 18px;
}
footer aside ul li a:hover{
	color: #f00; 
}
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
