AddHandler php5-script .php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

SetEnvIf HTTP_HOST nickandcampbell.com APPLICATION_ENV=production
SetEnvIf HTTP_HOST staging.nickandcampbell.com APPLICATION_ENV=staging 
SetEnvIf HTTP_HOST nc.dev APPLICATION_ENV=development
SetEnvIf HTTP_HOST owen.local APPLICATION_ENV=development
